#!/usr/bin/make -f

confflags =

# These flags can be used to create a package with runtime dependencies
#           --disable-jpg-shared \
#           --disable-png-shared \
#           --disable-tif-shared \
#           --disable-webp-shared

%:
	dh $@ --with autoreconf --parallel

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- $(confflags)

override_dh_auto_installchangelogs:
	dh_auto_installchangelogs -- CHANGES

override_dh_compress:
	dh_compress -Xshowimage.c
